USE [MuhasabeDb]
GO
/****** Object:  Table [dbo].[ALT_HESAP_TBL]    Script Date: 23.12.2021 19:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALT_HESAP_TBL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ALT_HESAP_KODU] [int] NULL,
	[ALT_HESAP_ADI] [nvarchar](50) NULL,
	[ANA_HESAP_KODU] [int] NULL,
 CONSTRAINT [PK_ALT_HESAP_TBL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANA_HESAP_TBL]    Script Date: 23.12.2021 19:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANA_HESAP_TBL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ANA_HESAP_ADI] [nvarchar](50) NULL,
	[ANA_HESAP_KODU] [int] NULL,
 CONSTRAINT [PK_ANA_HESAP_TBL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BELGE_TIPI_TBL]    Script Date: 23.12.2021 19:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BELGE_TIPI_TBL](
	[ID] [int] NOT NULL,
	[BELGE_ADİ] [varchar](50) NULL,
	[BELGE_TIP_ACİKLAMA] [nvarchar](100) NULL,
 CONSTRAINT [PK_BELGE_TIPI_TBL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOLGE__TBL]    Script Date: 23.12.2021 19:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOLGE__TBL](
	[ID] [int] NOT NULL,
	[BOLGE_ADI] [nvarchar](50) NULL,
 CONSTRAINT [PK_BOLGE__TBL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOLGE_SEHIR_SEMT_TBL]    Script Date: 23.12.2021 19:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOLGE_SEHIR_SEMT_TBL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BOLGE_ID] [int] NULL,
	[SEMT_ID] [int] NULL,
	[SEHIR_ID] [int] NULL,
 CONSTRAINT [PK_BOLGE_SEHIR_SEMT_TBL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMAN_TBL]    Script Date: 23.12.2021 19:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMAN_TBL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DEPARTMAN_ADI] [nvarchar](50) NULL,
 CONSTRAINT [PK_DEPARTMAN_TBL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOVIZ_CINSI_TBL]    Script Date: 23.12.2021 19:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOVIZ_CINSI_TBL](
	[ID] [int] NOT NULL,
	[DOVIZ_CINSI] [nvarchar](50) NULL,
	[ULKE] [nvarchar](50) NULL,
 CONSTRAINT [PK_DOVIZ_CINSI_TBL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOVIZ_KUR_TBL]    Script Date: 23.12.2021 19:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOVIZ_KUR_TBL](
	[ID] [int] NOT NULL,
	[DOVIZ_CINSI_ID] [int] NULL,
	[ALIS_TUTAR] [decimal](18, 4) NULL,
	[SATIS_TUTAR] [decimal](18, 4) NULL,
	[EFEKTIF_ALIS] [decimal](18, 4) NULL,
	[EFEKTIF_SATIS] [decimal](18, 4) NULL,
	[Tarih] [date] NULL,
 CONSTRAINT [PK_DOVIZ_KUR_TBL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FIS_TURU_TBL]    Script Date: 23.12.2021 19:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIS_TURU_TBL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIS_TURU] [nvarchar](50) NULL,
 CONSTRAINT [PK_FIS_TURU_TBL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ISLEM_MERKEZI_TBL]    Script Date: 23.12.2021 19:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ISLEM_MERKEZI_TBL](
	[ID] [int] NOT NULL,
	[SUBE_ADI] [nvarchar](50) NULL,
	[BOLGE_SEHIR_SEMT_ID] [int] NULL,
 CONSTRAINT [PK_ISLEM_MERKEZI_TBL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUHASEBE_FIS_DETAY_TBL]    Script Date: 23.12.2021 19:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUHASEBE_FIS_DETAY_TBL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIS_NO] [int] NULL,
	[BORC] [decimal](18, 2) NULL,
	[ALACAK] [decimal](18, 2) NULL,
	[ACİKLAMA] [nvarchar](100) NULL,
	[OZEL_KOD_ID] [int] NULL,
	[ALT_HESAP_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUHASEBE_FIS_TBL]    Script Date: 23.12.2021 19:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUHASEBE_FIS_TBL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIS_NO] [int] NOT NULL,
	[ISLEM_NO] [int] NULL,
	[BELGE_TIP_ID] [int] NULL,
	[FIS_TURU_ID] [int] NULL,
	[ACİKLAMA] [nvarchar](100) NULL,
	[ISLEM_MERKEZI_TBL] [int] NULL,
	[PERSONEL_ID] [int] NULL,
	[OZEL_KOD_ID] [int] NULL,
	[TAKIP_NO] [int] NULL,
	[FIS_TARIHI] [date] NULL,
	[DOVIZ_KUR_ID] [int] NULL,
	[ODEME_TIPI_ID] [int] NULL,
	[AKTIF_MI] [bit] NULL,
	[ONAY_DURUMU] [bit] NULL,
 CONSTRAINT [PK_MUHASEBE_FIS_TBL] PRIMARY KEY CLUSTERED 
(
	[FIS_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ODEME_TIPI_TBL]    Script Date: 23.12.2021 19:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ODEME_TIPI_TBL](
	[ID] [int] NOT NULL,
	[ODEME_TIPI] [nvarchar](50) NULL,
 CONSTRAINT [PK_ODEME_TIPI_TBL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OZEL_KOD_TBL]    Script Date: 23.12.2021 19:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OZEL_KOD_TBL](
	[ID] [int] NOT NULL,
	[OZEL_KOD1] [nvarchar](50) NULL,
	[OZEL_KOD2] [int] NULL,
	[OZEL_KOD3] [date] NULL,
 CONSTRAINT [PK_OZEL_KOD_TBL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONEL_TBL]    Script Date: 23.12.2021 19:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONEL_TBL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
	[SOYAD] [varchar](50) NULL,
	[DOGUM_TARİHİ] [date] NULL,
	[DEPARTMAN_ID] [int] NULL,
	[UNVAN_ID] [int] NULL,
	[TC] [char](11) NULL,
	[TEL] [nchar](10) NULL,
	[YONETICI_ID] [int] NULL,
 CONSTRAINT [PK_PERSONEL_TBL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEHIR_TBL]    Script Date: 23.12.2021 19:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEHIR_TBL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SEHIR_ADI] [nvarchar](50) NULL,
 CONSTRAINT [PK_SEHIR_TBL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEMT_TBL]    Script Date: 23.12.2021 19:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEMT_TBL](
	[ID] [int] NOT NULL,
	[SEMT_ADI] [nvarchar](50) NULL,
 CONSTRAINT [PK_SEMT_TBL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNVAN_TBL]    Script Date: 23.12.2021 19:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNVAN_TBL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UNVAN_ADI] [nvarchar](50) NULL,
 CONSTRAINT [PK_UNVAN_TBL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ALT_HESAP_TBL]  WITH CHECK ADD  CONSTRAINT [FK_ALT_HESAP_TBL_ANA_HESAP_TBL] FOREIGN KEY([ANA_HESAP_KODU])
REFERENCES [dbo].[ANA_HESAP_TBL] ([ID])
GO
ALTER TABLE [dbo].[ALT_HESAP_TBL] CHECK CONSTRAINT [FK_ALT_HESAP_TBL_ANA_HESAP_TBL]
GO
ALTER TABLE [dbo].[BOLGE_SEHIR_SEMT_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BOLGE_SEHIR_SEMT_TBL_BOLGE__TBL] FOREIGN KEY([BOLGE_ID])
REFERENCES [dbo].[BOLGE__TBL] ([ID])
GO
ALTER TABLE [dbo].[BOLGE_SEHIR_SEMT_TBL] CHECK CONSTRAINT [FK_BOLGE_SEHIR_SEMT_TBL_BOLGE__TBL]
GO
ALTER TABLE [dbo].[BOLGE_SEHIR_SEMT_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BOLGE_SEHIR_SEMT_TBL_SEHIR_TBL] FOREIGN KEY([SEHIR_ID])
REFERENCES [dbo].[SEHIR_TBL] ([ID])
GO
ALTER TABLE [dbo].[BOLGE_SEHIR_SEMT_TBL] CHECK CONSTRAINT [FK_BOLGE_SEHIR_SEMT_TBL_SEHIR_TBL]
GO
ALTER TABLE [dbo].[BOLGE_SEHIR_SEMT_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BOLGE_SEHIR_SEMT_TBL_SEMT_TBL] FOREIGN KEY([SEMT_ID])
REFERENCES [dbo].[SEMT_TBL] ([ID])
GO
ALTER TABLE [dbo].[BOLGE_SEHIR_SEMT_TBL] CHECK CONSTRAINT [FK_BOLGE_SEHIR_SEMT_TBL_SEMT_TBL]
GO
ALTER TABLE [dbo].[DOVIZ_KUR_TBL]  WITH CHECK ADD  CONSTRAINT [FK_DOVIZ_KUR_TBL_DOVIZ_CINSI_TBL] FOREIGN KEY([DOVIZ_CINSI_ID])
REFERENCES [dbo].[DOVIZ_CINSI_TBL] ([ID])
GO
ALTER TABLE [dbo].[DOVIZ_KUR_TBL] CHECK CONSTRAINT [FK_DOVIZ_KUR_TBL_DOVIZ_CINSI_TBL]
GO
ALTER TABLE [dbo].[ISLEM_MERKEZI_TBL]  WITH CHECK ADD  CONSTRAINT [FK_ISLEM_MERKEZI_TBL_BOLGE_SEHIR_SEMT_TBL] FOREIGN KEY([BOLGE_SEHIR_SEMT_ID])
REFERENCES [dbo].[BOLGE_SEHIR_SEMT_TBL] ([ID])
GO
ALTER TABLE [dbo].[ISLEM_MERKEZI_TBL] CHECK CONSTRAINT [FK_ISLEM_MERKEZI_TBL_BOLGE_SEHIR_SEMT_TBL]
GO
ALTER TABLE [dbo].[MUHASEBE_FIS_DETAY_TBL]  WITH CHECK ADD  CONSTRAINT [FK_MUHASEBE_FIS_DETAY_TBL_ALT_HESAP_TBL] FOREIGN KEY([ALT_HESAP_ID])
REFERENCES [dbo].[ALT_HESAP_TBL] ([ID])
GO
ALTER TABLE [dbo].[MUHASEBE_FIS_DETAY_TBL] CHECK CONSTRAINT [FK_MUHASEBE_FIS_DETAY_TBL_ALT_HESAP_TBL]
GO
ALTER TABLE [dbo].[MUHASEBE_FIS_DETAY_TBL]  WITH CHECK ADD  CONSTRAINT [FK_MUHASEBE_FIS_DETAY_TBL_MUHASEBE_FIS_TBL] FOREIGN KEY([FIS_NO])
REFERENCES [dbo].[MUHASEBE_FIS_TBL] ([FIS_NO])
GO
ALTER TABLE [dbo].[MUHASEBE_FIS_DETAY_TBL] CHECK CONSTRAINT [FK_MUHASEBE_FIS_DETAY_TBL_MUHASEBE_FIS_TBL]
GO
ALTER TABLE [dbo].[MUHASEBE_FIS_DETAY_TBL]  WITH CHECK ADD  CONSTRAINT [FK_MUHASEBE_FIS_DETAY_TBL_OZEL_KOD_TBL] FOREIGN KEY([OZEL_KOD_ID])
REFERENCES [dbo].[OZEL_KOD_TBL] ([ID])
GO
ALTER TABLE [dbo].[MUHASEBE_FIS_DETAY_TBL] CHECK CONSTRAINT [FK_MUHASEBE_FIS_DETAY_TBL_OZEL_KOD_TBL]
GO
ALTER TABLE [dbo].[MUHASEBE_FIS_TBL]  WITH CHECK ADD  CONSTRAINT [FK_MUHASEBE_FIS_TBL_BELGE_TIPI_TBL] FOREIGN KEY([BELGE_TIP_ID])
REFERENCES [dbo].[BELGE_TIPI_TBL] ([ID])
GO
ALTER TABLE [dbo].[MUHASEBE_FIS_TBL] CHECK CONSTRAINT [FK_MUHASEBE_FIS_TBL_BELGE_TIPI_TBL]
GO
ALTER TABLE [dbo].[MUHASEBE_FIS_TBL]  WITH CHECK ADD  CONSTRAINT [FK_MUHASEBE_FIS_TBL_DOVIZ_KUR_TBL] FOREIGN KEY([DOVIZ_KUR_ID])
REFERENCES [dbo].[DOVIZ_KUR_TBL] ([ID])
GO
ALTER TABLE [dbo].[MUHASEBE_FIS_TBL] CHECK CONSTRAINT [FK_MUHASEBE_FIS_TBL_DOVIZ_KUR_TBL]
GO
ALTER TABLE [dbo].[MUHASEBE_FIS_TBL]  WITH CHECK ADD  CONSTRAINT [FK_MUHASEBE_FIS_TBL_FIS_TURU_TBL1] FOREIGN KEY([FIS_TURU_ID])
REFERENCES [dbo].[FIS_TURU_TBL] ([ID])
GO
ALTER TABLE [dbo].[MUHASEBE_FIS_TBL] CHECK CONSTRAINT [FK_MUHASEBE_FIS_TBL_FIS_TURU_TBL1]
GO
ALTER TABLE [dbo].[MUHASEBE_FIS_TBL]  WITH CHECK ADD  CONSTRAINT [FK_MUHASEBE_FIS_TBL_ISLEM_MERKEZI_TBL] FOREIGN KEY([ISLEM_MERKEZI_TBL])
REFERENCES [dbo].[ISLEM_MERKEZI_TBL] ([ID])
GO
ALTER TABLE [dbo].[MUHASEBE_FIS_TBL] CHECK CONSTRAINT [FK_MUHASEBE_FIS_TBL_ISLEM_MERKEZI_TBL]
GO
ALTER TABLE [dbo].[MUHASEBE_FIS_TBL]  WITH CHECK ADD  CONSTRAINT [FK_MUHASEBE_FIS_TBL_ODEME_TIPI_TBL] FOREIGN KEY([ODEME_TIPI_ID])
REFERENCES [dbo].[ODEME_TIPI_TBL] ([ID])
GO
ALTER TABLE [dbo].[MUHASEBE_FIS_TBL] CHECK CONSTRAINT [FK_MUHASEBE_FIS_TBL_ODEME_TIPI_TBL]
GO
ALTER TABLE [dbo].[MUHASEBE_FIS_TBL]  WITH CHECK ADD  CONSTRAINT [FK_MUHASEBE_FIS_TBL_OZEL_KOD_TBL] FOREIGN KEY([OZEL_KOD_ID])
REFERENCES [dbo].[OZEL_KOD_TBL] ([ID])
GO
ALTER TABLE [dbo].[MUHASEBE_FIS_TBL] CHECK CONSTRAINT [FK_MUHASEBE_FIS_TBL_OZEL_KOD_TBL]
GO
ALTER TABLE [dbo].[MUHASEBE_FIS_TBL]  WITH CHECK ADD  CONSTRAINT [FK_MUHASEBE_FIS_TBL_PERSONEL_TBL] FOREIGN KEY([PERSONEL_ID])
REFERENCES [dbo].[PERSONEL_TBL] ([ID])
GO
ALTER TABLE [dbo].[MUHASEBE_FIS_TBL] CHECK CONSTRAINT [FK_MUHASEBE_FIS_TBL_PERSONEL_TBL]
GO
ALTER TABLE [dbo].[PERSONEL_TBL]  WITH CHECK ADD  CONSTRAINT [FK_PERSONEL_TBL_DEPARTMAN_TBL] FOREIGN KEY([DEPARTMAN_ID])
REFERENCES [dbo].[DEPARTMAN_TBL] ([ID])
GO
ALTER TABLE [dbo].[PERSONEL_TBL] CHECK CONSTRAINT [FK_PERSONEL_TBL_DEPARTMAN_TBL]
GO
ALTER TABLE [dbo].[PERSONEL_TBL]  WITH CHECK ADD  CONSTRAINT [FK_PERSONEL_TBL_UNVAN_TBL] FOREIGN KEY([UNVAN_ID])
REFERENCES [dbo].[UNVAN_TBL] ([ID])
GO
ALTER TABLE [dbo].[PERSONEL_TBL] CHECK CONSTRAINT [FK_PERSONEL_TBL_UNVAN_TBL]
GO
